# 1) install nvidia driver in DRM mode (with kernel parameter & modules in initcpio)
# 2) install intel gpu driver
# 3) install nvidia-prime
# 4) the following config works in tandem with the xrandr commands in xinit

Section "ServerLayout"
	Identifier	"layout"
	Screen 0	"nvidia"
	Inactive	"intel"
EndSection

Section "Device"
	Identifier	"nvidia"
	Driver		"nvidia"
	BusID		"PCI:1:0:0"
EndSection

Section "Screen"
	Identifier	"nvidia"
	Device		"nvidia"
	Option		"AlllowEmptyInitialConfiguration"
EndSection

Section "Device"
	Identifier	"intel"
	Driver		"modesetting"
	BusID		"PCI:0:2:0"
EndSection

Section	"Screen"
	Identifier	"intel"
	Device		"intel"
EndSection
